{% extends 'base.html.twig' %}

{% block title %}SpaceGame{% endblock %}

{% block body %}
   <header>
       <div class="bandeau" style="background-color: black; height : 25vh;">
            <h1 class="text-center text-light">SPACEGAME</h1>
       </div>
       
    </header>
{% endblock %}
