{% extends 'base.html.twig' %}

{% block title %}Edit Bebe{% endblock %}

{% block body %}
    <h1>Edit Bebe</h1>

    {{ include('bebe_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bebe_crud_index') }}">back to list</a>

    {{ include('bebe_crud/_delete_form.html.twig') }}
{% endblock %}
