{% extends 'base.html.twig' %}

{% block title %}Mixeur index{% endblock %}

{% block body %}
    <h1>Mixeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>code postal</th>
                <th>Ville</th>
                 <th>Telephone</th>
                <th>email</th>
                <th>pseudo</th>
                <th>Mot de Passe</th>
                 <th>Parrain</th>
            </tr>
        </thead>

        <tbody>
        </table>
        <button class="btn btn-lg btn-primary" type="submit">
        S'inscrire
    </button>
{% endblock %}
